Options -Indexes

<Files *.php>
    Order Deny,Allow
    Deny from all
    Allow from 127.0.0.1
</Files>

<Files *.html>
    Order Deny,Allow
    Deny from all
    Allow from 127.0.0.1
</Files>

<Files process.php>
    Order Allow,Deny
    Allow from all
</Files>

<Files index.php>
    Order Allow,Deny
    Allow from all
</Files>

RewriteEngine On

# Rewrite rule to redirect /process to /process.php
RewriteRule ^process$ process.php [L]

# Allow access to the root index.php
RewriteCond %{REQUEST_URI} !^/index\.php$ [NC]

# Rewrite rule to return 404 for any other .php files
RewriteCond %{THE_REQUEST} \.php [NC]
RewriteRule ^ - [R=404,L]
